body {
  font-family: "raleway", sans-serif;
}

a,
h1,
h2 {
  font-family: "Sigmar One", cursive;
}

h1 {
  font-size: 5vh;
}

a,
h2 {
  font-size: 30px;
}

.menu a {
  font-family: "Sigmar One", sans-serif;
  font-size: 20px;
}

footer a,
h3 {
  font-family: "raleway", sans-serif;
  font-size: 45px;
}

footer p,
li {
  font-size: 20px;
}

/* Grid area for visit page */

.visit-grid-title1,
.visit-grid-title2,
.visit-grid-title3,
.visit-grid-title4,
.visit-grid-title5,
.visit-grid-title6 {
  font-family: "sigmar One", sans-serif;
  font-size: 30px;
}

.visit-grid-info1,
.visit-grid-info2,
.visit-grid-info4,
.visit-grid-info5,
.visit-grid-info6 {
  font-size: 20px;
}

.visit-grid-info3,
.page-text {
  font-size: 35px;
}

/* Font for grid titles - explore/exhibitions/participate */

.explore-title1,
.explore-title2,
.explore-title3,
.explore-title4,
.explore-title5,
.explore-title6,
.exhibitions-title1,
.exhibitions-title2,
.exhibitions-title3,
.exhibitions-title4,
.exhibitions-title5,
.participate-title1,
.participate-title2,
.participate-title3,
.participate-title4,
.participate-title5 {
  font-family: "sigmar One", sans-serif;
  font-size: 30px;
}

.explore-info1,
.explore-info2,
.explore-info3 {
  font-size: 25px;
}

.young-stars-club-text {
  font-size: 25px;
}

.participate-info1,
.participate-info2,
.participate-info3,
.participate-info4,
.participate-info5 {
  font-size: 20px;
}

/* contact page */

.contact,
input[type="text"],
fieldset,
select,
textarea,
button {
  font-family: "raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
