body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  background-color: #dedede;
}

h1,
h4,
h5 {
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 5rem;
  width: 80%;
}

h2,
h3 {
  font-size: 2rem;
  width: 50%;
  margin: 5rem auto 2rem auto;
}

h4,
h5 {
  font-size: 1.5rem;
}

h5 {
  margin-top: 1.2rem;
}

p {
  padding: 10px;
  font-size: 0.9rem;
}

html {
  scroll-behavior: smooth;
  box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.75);
  width: 80%;
  margin: 0 auto 100px auto;
}

span {
  border-bottom: 5px solid #db3300;
  border-right: 5px solid #db3300;
  padding-right: 20px;
}

nav {
  background-color: #2f828a;
}

.header-menu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  color: #fff;
  padding: 20px;
}

li:hover {
  background-color: #db3300;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

/* hamburger menu */

.hamburger-menu {
  display: none;
}

.show {
  display: block;
}

.hamburger-menu.show {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.hamburger-btn {
  display: none;
  background-color: inherit;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.hamburger-btn:hover {
  color: #fff;
}

.go-to-website {
  padding: 2rem;
}

.cta {
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
  display: block;
  padding: 1.5rem;
  max-width: 200px;
  margin: 2rem auto;
}

.cta:hover {
  background-color: tomato;
  transform: translateY(-8px);
  box-shadow: 0px 25px 21px -3px rgba(255, 90, 0, 0.71);
  animation: translateY ease 1s;
}

@keyframes translateY {
  from {
    transform: translateY(0);
  }
}

.section-intro {
  background-color: #399aa3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.intro {
  font-size: 2rem;
  font-weight: bolder;
  width: 60%;
  margin: 1rem auto;
  color: whitesmoke;
}

.section1,
.section2,
.section3 {
  height: 100%;
  text-align: center;
  padding: 10rem 0;
}

.section1 {
  background-color: #42b2bd;
}

.section2 {
  background-color: #4bcbd6;
}

.section3 {
  background-color: #55e3f1;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#change1,
#change2,
#change3,
#change4,
#change5 {
  border-radius: 1rem;
  width: 300px;
  height: 400px;
  margin: 10px;
}

#change1 {
  background-color: #067a53;
}

#change2 {
  background-color: #01a164;
}

#change3 {
  background-color: #87eaab;
}

#change4 {
  background-color: #3fc284;
}

#change5 {
  background-color: #104f33;
  color: #fff;
}

.changes {
  position: relative;
}

.reveal {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 0 0 1rem 1rem;
  opacity: 0;
  transition: opacity 3s ease;
  animation: 2s ease forwards reveal;
}

.changes:hover > .reveal {
  display: block;
}

@keyframes reveal {
  to {
    opacity: 1;
  }
}

footer {
  height: 20rem;
  background-color: #7df3fd;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 850px) {
  .hamburger-menu.show {
    display: none;
  }
}

@media (max-width: 850px) {
  .header-menu li {
    display: none;
  }

  .hamburger-btn {
    display: block;
    margin: 15px;
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 2rem;
    width: 90%;
  }

  h2,
  h3,
  .intro {
    font-size: 1.5rem;
    width: 80%;
  }
}
