body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  background-color: #dedede;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 5rem;
  width: 80%;
}

h2,
h3 {
  font-size: 2rem;
  width: 50%;
}

h4,
h5 {
  font-size: 1.5rem;
}

h5 {
  margin-top: 1.2rem;
}

html {
  scroll-behavior: smooth;
  /*background-image: url(images/pexels-mnm-zameer-3308588.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  box-shadow: 0px 4px 11px 4px rgba(0, 0, 0, 0.75);
  width: 80%;
  margin: 0 auto 100px auto;
}

span {
  background-color: #db3300;
  border-radius: 1rem;
  padding: 10px;
}

nav {
  background-color: #2f828a;
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  color: #fff;
  padding: 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.cta {
  padding: 2rem;
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
  display: block;
  width: 20%;
  margin: 5rem auto;
}

.section-intro,
.section1,
.section2,
.section3 {
  height: 100vh;
  text-align: center;
  color: #fff;
}

.section-intro {
  padding: 15rem 0;
  background-color: #399aa3;
}

.section1 {
  padding: 15rem 0;
  background-color: #42b2bd;
}

.section2 {
  padding: 15rem 0;
  background-color: #4bcbd6;
}

.section3 {
  padding: 15rem 0;
  background-color: #55e3f1;
}

.container {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#change1,
#change2,
#change3,
#change4,
#change5 {
  border-radius: 1rem;
  height: 50%;
  flex: 1;
  margin: 10px;
}

#change1 {
  background-color: #f21651;
}

#change2 {
  background-color: #021744;
}

#change3 {
  background-color: #06dbbd;
}

#change4 {
  background-color: #f2cd13;
}

#change5 {
  background-color: #4c0213;
}

.changes {
  position: relative;
}

.reveal {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 0 0 1rem 1rem;
  opacity: 0;
  transition: opacity 3s ease;
  animation: 2s ease forwards reveal;
}

.changes:hover > .reveal {
  display: block;
}

@keyframes reveal {
  to {
    /*top: 50px;*/
    opacity: 1;
  }
}

footer {
  height: 20rem;
  background-color: #7df3fd;
}
